 body {
     font-family: Arial, sans-serif;
     max-width: 600px;
     margin: 50px auto;
     /* margin: top right bottom left; */
     padding: 20px;
     background-image: url('./fast-bubblesort.gif');
     background-color: #f0f0f0;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .container {
     background-color: white;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 h1 {
     color: rgb(51, 51, 51);
     text-align: center;
 }

 input {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ddd;
     border-radius: 5px;
     font-size: 16px;
 }

 button {
     width: 100%;
     padding: 12px;
     background-color: #ff14ef;
     color: white;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
 }

 button:hover {
     background-color: #4f1750;
 }

 .button-2{
    margin-top: 10px;
     background-color: rgb(76, 0, 88);
 }

 .button-2:hover{
    margin-top: 10px;
     background-color: rgb(201, 77, 220);
 }


 .result {
     margin-top: 20px;
     padding: 15px;
     background-color: #f9f9f9;
     border-radius: 5px;
 }

 .result h3 {
     color: #555;
     margin-top: 15px;
 }

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}


select{
         width: 100%;
     padding: 12px;
     /* background-color: #ff14ef; */
     color: rgb(0, 0, 0);
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     margin-bottom: 10px;
          margin-top: 10px;

}
